<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zy.xuminghang">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomScanActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            />
        <activity
            android:name=".activity.OrderDetialActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            />
        <activity
            android:name=".activity.CustomerinfoActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            />
        <activity
            android:name=".activity.AddressManageActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            />
        <activity
            android:name=".activity.NewAddaddresActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            ></activity>
        <activity android:name=".activity.UpdateAddressActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            ></activity>
    </application>

</manifest>